// ==========================================================================
// Components / Links and Buttons
// ==========================================================================



// Components / button
// ==================================================

.clickable {
  cursor: pointer;
}

.btn {
  display: inline-block;
  position: relative;

  padding: 12px 56px 12px 16px;
  border-radius: 2px;
  border: none; // Reset buttons
  cursor: pointer; // Style buttons

  @include font-display-bold;
  font-size: 16px;
  line-height: 1;
  color: $color-white;
  text-decoration: none;
  background-color: $color-orange;

  transition: background-color 0.2s ease-out;

  &::after {
      content: '';
      display: block;
      width: 24px;
      height: 9px;

      position: absolute;
      top: 16px;
      right: 16px;

      background-image: url('assets/img/icons/icon-arrow-right.svg');

      //background-color: #fff;
      transition: right 0.2s ease-out;
  }


  // Colors

  &--purple {
      background-color: $color-purple;
  }

  &--blue {
      background-color: $color-blue;
  }

  &--teal {
      background-color: $color-teal;
  }

  &--green {
      background-color: $color-green;
  }


  // Sizes

  &--large {
    // padding: 12px 56px 12px 16px;
    font-size: 20px;
  }
}



.btn:hover,
.btn:focus-visible {
  color: $color-white;
  background-color: $color-grey-900;

  &::after {
    right: 8px;
  }
}




// Circle with Text
// ==========================================================================


.link-circle-w-text {
  position: relative;
  left: 0;
  display: flex;
  //align-items: flex-start;

  transition: all 0.2s ease-out;

  .circle {
    flex-shrink: 0;
    margin-right: 8px;
    color: $color-black;
    background-color: $color-yellow;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    padding-top: 4px;
    font-size: 20px;
    line-height: 1.2;
    color: $color-grey-900;

    small {
      font-size: 16px;
      color: $color-grey-700
    }
  }

  &:hover,
  &:focus-visible {
    left: 8px;
  }


  // Exceptions

  &--footer {
    //@include font-display-bold;
    font-size: 16px;
    color: $color-white;

    .link-circle-w-text__text {
      padding-top: 6px;
      font-size: 16px;
      color: $color-white;

      transition: color 0.2s ease-out;
    }

    &:hover,
    &:focus-visible {
      left: 0;

      .link-circle-w-text__text {
        color: $color-yellow;
      }
    }
  }


}
