// ==========================================================================
// Layout / Main
// ==========================================================================


.main {

  // Gradient after menu
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: $zindex-below;

    background: linear-gradient( $color-grey-200, $color-background );
  }
}


.main__header {
  position: relative;
  margin-bottom: 80px;

  @include breakpoint(lg) {
    margin-bottom: 120px;
  }

  &--margin-tight {
    margin-bottom: 40px;

    @include breakpoint(lg) {
      margin-bottom: 60px;
    }
  }
}


.main__contents {
  margin-bottom: 80px;

  @include breakpoint(lg) {
    margin-bottom: 120px;
  }
}
