// ==========================================================================
// Components / Menu
// ==========================================================================


.menu {
  height: 100vh;
  width: 100%;

  position: fixed;
  top: 0;
  right: -100%;
  z-index: $zindex-menu;

  background-color: $color-yellow;
  @include background-emoji(on-yellow);

  transition: right 0.4s ease-out;

  &--is-visible {
    right: 0;
  }

  @include breakpoint(md) {
    width: $space-2500;
    @include shadow-medium;
  }


  // Large Screens

  @include breakpoint(xl) {
    height: 100%;
    width: 100%;

    position: relative;
    right: auto;

    background: transparent;
    box-shadow: none;
  }
}


.menu-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  @include breakpoint(xl) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    // reset, to avoid conflict
    // with block connector's z-index
    overflow-y: unset;
  }
}



// Menu Sections
// ==========================================================================


.menu__explain {
  flex-grow: 1;
  width: 100%;
  padding: 56px 0 32px 0;

  @include border-bottom-large($color-yellow-dark);

  .menu__links-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include breakpoint(xl) {
      flex-direction: row;
    }
  }

  a.menu__link:link,
  a.menu__link:visited {
    color: $color-black;
  }


  // Large Screens

  @include breakpoint(xl) {
    width: auto;
    height: 100%;
    padding: 0;

    border-bottom: none;
  }
}


.menu__interact {
  width: 100%;
  padding: 32px 0 56px 0;

  background-color: $color-black;
  @include background-emoji(on-black);

  @include breakpoint(md) {
    padding: 32px 0 80px 0;
  }


  // Large Screens

  @include breakpoint(xl) {
    width: auto;
    height: 100%;
    padding: 0;

    background-image: none;
    @include block-connector;
  }
}



// Menu Contents
// ==========================================================================


.menu__links-list {
  width: 100%;
  height: 100%;


  // Large Screens

  @include breakpoint(xl) {
    display: flex;
    align-items: center;
    margin: 0 16px;
  }
}


.menu__link {
  position: relative;
  width: max-content;
  display: block;
  margin: 0 auto;
  padding: 8px;

  @include font-display-bold;
  font-size: 24px;
  line-height: 1;

  @include breakpoint(md) {
    margin: 8px auto;
    padding: 0;
    letter-spacing: -0.25px;

    &::after {
      content: '';
      display: block;

      position: absolute;
      bottom: -4px;
      left: 0;

      height: 2px;
      width: 0%;
      background-color: $color-black;

      transition: width 0.3s ease-out;
    }

    &:hover,
    &:focus-visible {

      &::after {
        width: 100%;
      }
    }
  }


  // Large Screens
  @include breakpoint(xl) {
    font-size: 18px;
    padding: 0;
    margin: 0 12px;
  }
}





// Menu Contents - Interact (Run)
// ==========================================================================


.menu__interact {

  // @include breakpoint(lg) {
  //   margin: 0 0 0 24px;
  // }

  @include breakpoint(xl) {
    margin: 0 0 0 32px;
  }
}


.menu__link--run {
  color: $color-white;

  transition: all 0.2s ease-out;

  // Interaction disabled
  &::after {
    background-color: transparent;
  }

  @include breakpoint(xl) {
    height: 100%;
    margin: 0;
    padding: 0 24px;

    display: flex;
    align-items: center;

    &:hover {
      color: $color-yellow;
    }
  }
}



// Menu Logo
// ==========================================================================


.menu__logo {
  display: block;
  width: 200px;

  position: absolute;
  top: 0;
  left: 0;


  @include breakpoint(md) {
    display: none;
  }
}
