<svg viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.397 4.45a.392.392 0 00-.392.453L5.67 15.006a.536.536 0 00.522.446h7.985a.39.39 0 00.391-.329l1.664-10.217a.394.394 0 00-.391-.454L4.397 4.449zm7.008 7.298H8.857L8.17 8.146h3.854l-.618 3.604z" fill="currentColor"/></svg>
