{{! Blog }}

{{#> layouts._html-shell
    title="Blog"
    pageClass="page-blog"
    pageUrl="https://wwww.microblocks.fun/blog"
    _pageDescription="Latest news related with MicroBlocks."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="page-blog__header-paginated">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-blog__title-paginated">
                    News - Page {{page}}
                </h1>
            </div>
        </div>
    </div>
</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

    <!-- Articles -->
    <section class="page-blog__articles">
        <div class="container">

            <!-- Articles Grid -->
            <div class="row">
                <div class="col">
                    <div class="page-blog__articles-grid">
                    {{#each blog-entries}}
                    {{#unless draft}}
                        {{> _card-article }}
                    {{/unless}}
                    {{/each}}
                    </div>
                </div>
            </div>

            <!-- Pagination and All Articles-->
            <div class="row">
                <div class="col">

                    <div class="page-blog__pagination pagination">
                        <a href="/blog" class="pagination__item">1</a>
                        {{#for 2 (inc page -1) 1}}
                            <a href="/blog/{{this}}" class="pagination__item">{{this}}</a>
                        {{/for}}
                            <a href="/blog/{{this}}" class="pagination__item pagination__item--active">{{page}}</a>
                        {{#for (inc page 1) page-count 1}}
                            <a href="/blog/{{this}}" class="pagination__item">{{this}}</a>
                        {{/for}}
                    </div>

                    <div class="page-blog__view-all">
                        <a class="btn btn--purple" href="/archive" target="_blank">View all articles</a>
                    </div>                   

                </div>
            </div>

        </div>
    </section>

</div>
<!-- Contents -->

{{/inline}}
{{/layouts._html-shell}}
