{{! Blog }}

{{#> layouts._html-shell
    title="Blog"
    pageClass="page-blog"
    pageUrl="https://wwww.microblocks.fun/blog"
    _pageDescription="Latest news related with MicroBlocks."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="page-blog__header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-blog__title">
                    <span class="block block--purple">Latest News</span>
                </h1>
            </div>
        </div>
    </div>
</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">

    <div class="page-blog__article-featured">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">

                    <!-- Featured Article -->
                    <a href="/blog/{{featured.slug}}" class="article-featured">
                        <article class="article-featured__article">

                            <div class="article-featured__picture-wrapper">
                                <picture class="article-featured__picture">
                                    <source media="(min-width: 768px)" srcset="/blog/{{featured.slug}}/thumbnail.jpg">
                                    <source media="(max-width: 767px)" srcset="/blog/{{featured.slug}}/thumbnail.jpg">
                                    <img src="/blog/{{featured.slug}}/thumbnail.jpg" alt="{{title}}" />
                                </picture>
                            </div>

                            <div class="article-featured__content">
                                <div class="article-featured__text">
                                    <h2 class="article-featured__section">Featured Article:</h2>
                                    <h3 class="article-featured__title">{{featured.title}}</h3>
                                    <div class="article-featured__details">
                                        {{#if featured.publication-date}}
                                            <time class="article-featured__date" datetime="{{featured.publication-date}}" pubdate="pubdate">{{ date-string featured.publication-date }}</time> 
                                        {{/if}}
                                        {{#if featured.author}}
                                        <address class="article-featured__credits">
                                            by <span class="article-featured__author">{{featured.author}}</span>{{#if featured.organization}}, <span class="article-featured__organisation">{{featured.organization}}</span>{{/if}}
                                        </address>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="article-featured__read-more">
                                    <div class="circle circle--purple">
                                        <img src="/assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                                    </div>
                                    Read More
                                </div>
                            </div>

                        </article>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- Other Articles -->
    <section class="page-blog__articles">
        <div class="container">

            <!-- Title -->
            <div class="row">
                <div class="col">
                    <h2 class="page-blog__articles-title">Other Articles</h2>
                </div>
            </div>

            <!-- Articles Grid -->
            <div class="row">
                <div class="col">
                    <div class="page-blog__articles-grid">
                    {{#each blog-entries}}
                    {{#unless draft}}
                        {{> _card-article }}
                    {{/unless}}
                    {{/each}}
                    </div>
                </div>
            </div>

            <!-- Pagination and All Articles-->
            <div class="row">
                <div class="col">

                    <div class="page-blog__pagination pagination">
                        <a href="/blog" class="pagination__item pagination__item--active">1</a>
                        {{#for 2 page-count 1}}
                            <a href="/blog/{{this}}" class="pagination__item">{{this}}</a>
                        {{/for}}
                    </div>

                    <div class="page-blog__view-all">
                        <a class="btn btn--purple" href="/archive" target="_blank">View all articles</a>
                    </div>                   

                </div>
            </div>

        </div>
    </section>

</div>
<!-- Contents -->

{{/inline}}
{{/layouts._html-shell}}
