{{! Contribute }}

{{#> layouts._html-shell 
    title="Contribute" 
    pageClass="page-contribute"
    pageUrl="https://wwww.microblocks.fun/contribute"
    _pageDescription="Latest release of MicroBlocks."
}}

{{#*inline "main-content"}}

  <!-- Header -->
  <header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
      <picture class="hero-picture__img">
        <source media="(min-width: 768px)" srcset="assets/img/pictures/contribute-1920x560.jpg">
        <source media="(max-width: 767px)" srcset="assets/img/pictures/contribute-960x540.jpg">
        <img src="assets/img/picture/contribute-1920x560.jpg" alt="Hands connecting wires to a board" />
      </picture>
    </div>

    
    <div class="container">

      <!-- Title -->
      <div class="row">
        <div class="col-12">
          <h1 class="title-blocks">
            <span class="block block--orange">Contribute</span>
          </h1>
        </div>
      </div>

      <!-- Intro -->
      <div class="row">
        <div class="col-12 col-lg-10">
          <div class="page-header__intro wysiwyg">
              <p class="text-lg">MicroBlocks is a <a href="https://mozilla.org/MPL/2.0/" target="_blank">free software</a> project that encourages, welcomes, and deeply appreciates contributions from its community.</p>
              {{#markdown}}We are actively searching for [translators](contribute#translate), [content creators](contribute#content-creation), [enthusiastic community members](about#ambassadors) and [financial support](contribute#financial-contribution).{{/markdown}}
          </div>
        </div>
      </div>

    </div>


  </header>
  <!-- Header -->


  <!-- Contents -->
  <div class="main__contents">


    <!-- Translate -->
    <div class="container section" id="translate">
      <article class="row border-top">

        <header class="col-12 col-md-4">
          <h2 class="section-title">Translation</h2>
        </header>
  
        <main class="col-12 col-md-8">
          <div class="row">
  
            <div class="col-12 col-lg-6 u_mb-2">
              <h3 class="section-subtitle">Editor Translators</h3>
              <div class="wysiwyg">
                  {{#markdown "ui-translators"}}{{/markdown}}
                  <a class="btn btn--blue" href="https://hosted.weblate.org/projects/microblocks/ide" target="_blank">Translate MicroBlocks</a>
              </div>
            </div>
      
            <div class="col-12 col-lg-6">
              <h3 class="section-subtitle">Activity Cards Translators</h3>
              <div class="wysiwyg">
                  {{#markdown "card-translators"}}{{/markdown}}
              </div>
            </div>
  
          </div>
        </main>
  
      </article>  
    </div>
    <!-- Translate -->


    <!-- Content Creation -->
    <div class="container section" id="content-creation">
      <article class="row border-top">

        <header class="col-12 col-md-4">
          <h2 class="section-title">Content Creation</h2>
        </header>
  
        <main class="col-12 col-md-8">
          <div class="wysiwyg">
              {{#markdown "content-creation"}}{{/markdown}}
              <a class="btn btn--orange" href="learn">Visit Learn Section</a>
          </div>
        </main>
  
      </article>
    </div>
    <!-- Content Creation -->


    <!-- Financial Contribution -->
    <div class="container section" id="financial-contribution">
      <article class="row border-top">

        <header class="col-12 col-md-4">
          <h2 class="section-title">Financial Support</h2>
        </header>
  
        <main class="col-12 col-md-8">
          <div class="wysiwyg">
              {{#markdown "financial-contribution"}}{{/markdown}}
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="CHZLTCKCSFGTS">
              <button type="submit" name="submit" value="Donate" class="btn btn--teal">Donate Now!</button>
            </form>
          </div>
        </main>
  
      </article>
    </div>
    <!-- Financial Contribution -->


  </div>
  <!-- Contents -->

{{> _footer_thanks color="yellow"}}

{{/inline}}
{{/layouts._html-shell}}
