{{! What is MicroBlocks }}

{{#> layouts._html-shell
    title="What is Microblocks"
    pageClass="page-what-is-microblocks"
    pageUrl="https://wwww.microblocks.fun/what-is-microblocks"
    pageDescription="Latest release of MicroBlocks."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="main__header">


    <!-- Hero -->
    <div class="hero-picture">
        <picture class="hero-picture__img">
            <source media="(min-width: 768px)" srcset="assets/img/pictures/what-is-microblocks-1920x560.jpg">
            <source media="(max-width: 767px)" srcset="assets/img/pictures/what-is-microblocks-960x540.jpg">
            <img src="assets/img/picture/what-is-microblocks-1920x560.jpg" alt="Hands connecting wires to a board" />
        </picture>
    </div>


    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-12">
                <h1 class="title-blocks">
                    <span class="block block--orange">What</span>
                    <span class="block block--purple">Is</span>
                    <span class="block block--teal">MicroBlocks</span>
                </h1>
            </div>
        </div>

        <!-- Intro -->
        <div class="row">

            <div class="col-12 col-lg-7">
                <div class="page-header__intro wysiwyg u_mb-4 u_lg:mb-0">
                    <p class="text-lg">MicroBlocks is a free, Scratch-like blocks programming language for learning physical computing with educational microcontroller boards such as the micro:bit, Adafruit Circuit Playground Express, and many others.</p>
                </div>
            </div>

            <div class="col-12 offset-lg-1 col-lg-3">
                <ul class="list-bullets-colored">
                    <li>
                        <div class="wysiwyg">
                            <p>
                                MicroBlocks allows complete beginners to <a href="get-started">get started quickly</a>, from children as young as nine years old up through adults of all ages.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="wysiwyg">
                            <p>
                                However, MicroBlocks isn't just for beginners. It can be used to learn electronics, instrument science experiments, automate your home, and much more.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>


</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">


    <!-- Intro -->
    <article class="section">

        <div class="container">

            <header class="row border-top u_mb-4">

                <div class="col-12 col-md-4">
                    <h2 class="section-title">What makes MicroBlocks different?</h2>
                </div>

                <div class="col-12 col-md-8">
                    <div class="wysiwyg">
                        <p class="text-md">
                            While there are other blocks languages for microcontrollers, what really sets MicroBlocks apart is its combination of live programming and autonomous operation. Other blocks languages support one or the other of those features but not both.
                        </p>
                    </div>
                </div>

            </header>

        </div>


        <!-- Live Programming -->
        <div class="accordion accordion--orange" aria-expanded="false">
            <section class="accordion__block">

                <div class="accordion__header" role="button" aria-controls="autonomous-operation" tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="accordion__index">1</div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="accordion__title-wrapper">
                                    <h3 class="accordion__title">Live Programming</h3>
                                    <div class="accordion__toggle">
                                        <div class="accordion__toggle--plus">
                                            {{> svg.icon-plus }}
                                        </div>
                                        <div class="accordion__toggle--minus">
                                            {{> svg.icon-minus }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion__content" role="region" aria-labelledby="live-programming">
                    <div class="accordion__content-inner">
                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <video alt="Clicking on a block and seeing the result immediately" loop autoplay muted>
                                        <source src="assets/vid/liveness.mp4" type="video/mp4"></source>
                                    </video>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="wysiwyg">
                                        {{#markdown "live-programming"}}{{/markdown}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>


        <!-- Autonomous Operation -->
        <div class="accordion accordion--purple" aria-expanded="false">
            <section class="accordion__block">

                <div class="accordion__header" role="button" aria-controls="autonomous-operation" tabindex="0">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <div class="accordion__index">2</div>
                            </div>

                            <div class="col-12 col-md-8">
                                <div class="accordion__title-wrapper">
                                    <h3 class="accordion__title">Autonomous Operation</h3>
                                    <div class="accordion__toggle">
                                        <div class="accordion__toggle--plus">
                                            {{> svg.icon-plus }}
                                        </div>
                                        <div class="accordion__toggle--minus">
                                            {{> svg.icon-minus }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion__content" role="region" aria-labelledby="autonomous-operation" tabindex="0">
                    <div class="accordion__content-inner">
                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <video alt="Many devices running the same program" loop autoplay muted>
                                        <source src="assets/vid/autonomy.mp4" type="video/mp4"></source>
                                    </video>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="wysiwyg">
                                        {{#markdown "autonomous-operation"}}{{/markdown}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <!-- Parallelism -->
        <div class="accordion accordion--teal" aria-expanded="false">
            <section class="accordion__block">

                <div class="accordion__header" role="button" aria-controls="parallelism" tabindex="0">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <div class="accordion__index">3</div>
                            </div>

                            <div class="col-12 col-md-8">
                                <div class="accordion__title-wrapper">
                                    <h3 class="accordion__title">Parallelism</h3>
                                    <div class="accordion__toggle">
                                        <div class="accordion__toggle--plus">
                                            {{> svg.icon-plus }}
                                        </div>
                                        <div class="accordion__toggle--minus">
                                            {{> svg.icon-minus }}
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="accordion__content" role="region" aria-labelledby="parallelism" tabindex="0">
                    <div class="accordion__content-inner">
                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <video alt="Running several scripts in parallel" loop autoplay muted>
                                        <source src="assets/vid/concurrency.mp4" type="video/mp4"></source>
                                    </video>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="wysiwyg">
                                        {{#markdown "parallelism"}}{{/markdown}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                    
                </div>

            </section>
        </div>

        <!-- Portability -->
        <div class="accordion accordion--blue" aria-expanded="false">
            <section class="accordion__block">

                <div class="accordion__header" role="button" aria-controls="portability">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <div class="accordion__index">4</div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="accordion__title-wrapper">
                                    <h3 class="accordion__title">Portability</h3>
                                    <div class="accordion__toggle">
                                        <div class="accordion__toggle--plus">
                                            {{> svg.icon-plus }}
                                        </div>
                                        <div class="accordion__toggle--minus">
                                            {{> svg.icon-minus }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion__content" role="region" aria-labelledby="portability">
                    <div class="accordion__content-inner">
                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <video alt="Many devices running the same program" loop autoplay muted>
                                        <source src="assets/vid/portability.mp4" type="video/mp4"></source>
                                    </video>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="wysiwyg">
                                        {{#markdown "portability"}}{{/markdown}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <!--  -->
        <div class="accordion accordion--blue-violet" aria-expanded="false">            
            <section class="accordion__block">

                <div class="accordion__header" role="button" aria-controls="portability">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <div class="accordion__index">5</div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="accordion__title-wrapper">
                                    <h3 class="accordion__title">Read back</h3>
                                    <div class="accordion__toggle">
                                        <div class="accordion__toggle--plus">
                                            {{> svg.icon-plus }}
                                        </div>
                                        <div class="accordion__toggle--minus">
                                            {{> svg.icon-minus }}
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="accordion__content" role="region" aria-labelledby="portability">
                    <div class="accordion__content-inner">
                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <video alt="Reading back a program from a board" loop autoplay muted>
                                        <source src="assets/vid/decompiler.mp4" type="video/mp4"></source>
                                    </video>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="wysiwyg">
                                        {{#markdown "plugshare"}}{{/markdown}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                    
                </div>

            </section>
        </div>
    </article>


    <!-- How does it work -->
    <div id="how-it-works" class="container section">
        <article class="row border-top">

            <header class="col-12 col-md-4">
                <h2 class="section-title">How does MicroBlocks work?</h2>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    <div class="wysiwyg">
                        {{#markdown "how-does-it-work"}}{{/markdown}}
                    </div>

                </div>
            </main>

        </article>
    </div>
    <!-- How does it work -->


    <!-- Privacy statement -->
    <div id="privacy" class="container section">
        <article class="row border-top">

            <header class="col-12 col-md-4">
                <h2 class="section-title">Privacy Statement</h2>
            </header>

            <main class="col-12 col-md-8">
                <div class="row">

                    <div class="wysiwyg">
                        {{#markdown "privacy"}}{{/markdown}}
                    </div>

                </div>
            </main>

        </article>
    </div>
    <!-- How does it work -->


</div>
<!-- Contents -->

{{> _footer_wiki }}

{{/inline}}
{{/layouts._html-shell}}
