<article class="card-article-archive">

    <!-- Date -->
{{#if publication-date}}
    <time class="card-article-archive__date" datetime="{{publication-date}}" pubdate="pubdate">{{ date-string publication-date }}</time> 
{{/if}}
    
    <!-- Text -->
    <div class="card-article-archive__content">
        <a href="/blog/{{slug}}" class="card-article-archive__link">
            <h2 class="card-article-archive__title">{{title}}</h2>
        </a>
{{#if author}}
        <address class="card-article-archive__credits">
            by <span class="card-article-archive__author">{{author}}</span>{{#if organization}}, <span class="card-article-archive__organisation">{{organization}}</span>{{/if}}
        </address>
{{/if}}
    </div>

</article>
