<a href="/blog/{{slug}}" class="card-article">
    <article class="card-article__article-tag">

        {{!-- Picture --}}
        <div class="card-article__picture-wrapper">
            <picture class="card-article__picture">
                <img src="/blog/{{slug}}/thumbnail.jpg" alt="{{title}}" />
            </picture>
            <div class="card-article__read-more" title="Read More">
                <div class="circle circle--purple">
                    <img src="/assets/img/icons/icon-arrow-right.svg" alt="Link Arrow">
                </div>
            </div>
        </div>
        
        {{!-- Text --}}
        <div class="card-article__content">
            <h3 class="card-article__title">{{title}}</h3>
            <div class="card-article__details">
{{#if publication-date}}
                <time class="card-article__date" datetime="{{publication-date}}" pubdate="pubdate">{{ date-string publication-date }}</time> 
{{/if}}
{{#if author}}
                <address class="card-article__credits">
                    by <span class="card-article__author">{{author}}</span>{{#if organization}}, <span class="card-article__organisation">{{organization}}</span>{{/if}}
                </address>
{{/if}}
            </div>
        </div>

    </article>
</a>
