{{! Page Footer }}

<footer class="footer">
    <div class="container">


        <div class="footer__content row">

            <!-- Logo -->
            <div class="footer__col col-12 col-md-6 col-lg-5 col-xl-3">
                <a class="footer__logo" href="/">
                    <img src="/assets/img/logos/MicroBlocks-white.svg" alt="MicroBlocks">
                </a>
            </div>

            <!-- Contribute -->
            <div class="footer__col col-12 col-md-6 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0">
                <h3>Contribute</h3>
                <p>
                    We are actively searching for <a href="/contribute#translate">translators</a>, <a href="/contribute#content-creation">content creators</a>, <a href="/about#ambassadors">spreading the word</a> and <a href="/contribute#financial-contribution">financial support</a>.
                </p>
            </div>

            <!-- Report an Issue -->
            <div class="footer__col col-12 col-md-6 col-lg-5 col-xl-3">
                <h3>Report an Issue</h3>
                <p>
                    Report a bug or request a feature on our issue tracker.
                </p>
                <a class="link-circle-w-text link-circle-w-text--footer"
                    href="https://bitbucket.org/john_maloney/smallvm/issues" target="_blank">
                    <div class="circle">
                        {{> svg.icon-bitbucket }}
                    </div>
                    <div class="link-circle-w-text__text">
                        BitBucket Repository
                    </div>
                </a>
            </div>

            <!-- Get in Touch -->
            <div class="footer__col col-12 col-md-6 col-lg-5 offset-lg-1 col-xl-3 offset-xl-0">
                <h3>Get in Touch</h3>
                <p>
                    Have a question or want to colaborate?<br>
                    Drop us a line or join our Discord server.
                </p>
                <ul class="footer__link-list">
                    <li class="footer__link-list-item">
                        <a class="link-circle-w-text link-circle-w-text--footer"
                            href="mailto:interest@microblocks.fun" target="_blank">
                            <div class="circle">
                                {{> svg.icon-email }}
                            </div>
                            <div class="link-circle-w-text__text">
                                interest@microblocks.fun
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="link-circle-w-text link-circle-w-text--footer"
                            href="https://discord.gg/TCpHYbcvkS" target="_blank">
                            <div class="circle">
                                {{> svg.icon-discord }}
                            </div>
                            <div class="link-circle-w-text__text">
                                Discord Server
                            </div>
                        </a>
                    </li>
                </ul>

            </div>

        </div>


        <div class="footer__legal row">
            <div class="col-md-10">
                <p>
                    © <span class="year">2021</span> by <a href="https://microblocks.fun/about"
                        target="_blank">John Maloney</a>, <a href="https://github.com/jmoenig" target="_blank">Jens
                        Mönig</a> and <a href="http://romagosa.work" target="_blank">Bernat Romagosa</a>.<br />
                    MicroBlocks is <a href="https://bitbucket.org/john_maloney/smallvm" target="_bklank">free
                        software</a>, released under the <a href="https://www.mozilla.org/en-US/MPL/2.0/"
                        target="_blank">Mozilla Public License v2.0</a>.<br />
                    This website does not store any personal information. It uses anonymous cookies for short-term, internal statistics tracking.
                </p>
            </div>
        </div>


    </div>
</footer>
