{{! Team Member }}
<section class="col-12 col-md-8 offset-md-4 col-lg-6 offset-lg-0">
    <div class="team-member">
        <div class="team-member__picture">
            <img src="assets/img/team/{{img}}" alt="{{name}}">
        </div>
        <div class="team-member__contents">
            <div class="team-member__name">{{name}}</div>
            <div class="team-member__role team-member__role--{{role-class}}">/{{role}}</div>
            <div class="team-member__bio">
                <div class="wysiwyg">
                    <p>
                        {{bio}}
                    </p>
                </div>                       
            </div>
        </div>
    </div>
</section>