// ==========================================================================
// Templates / Article
// ==========================================================================


// Header
// ========================================


.page-article__header {
    margin-bottom: $space-300;
    padding: $space-500 0 $space-300 0;

    @include breakpoint(xl) {
        margin-bottom: $space-500;
        padding: $space-600 0 $space-500 0;
    }
}


.page-article__header-text {
    @include breakpoint(xl) {
        padding-top: $space-200;
    }
}


.page-article__picture {
    margin-bottom: $space-300;
    transform: rotate(-2deg);

    @include breakpoint(lg) {
        margin-bottom: 0;
        padding-right: $space-100;
    }
}


.page-article__picture-img {
    margin-bottom: $space-025;
    @include ratio-image(16,9,cover);
    @include shadow-medium;
}


.page-article__picture-copyright {
    padding-right: $space-050;

    font-size: $fontSize-075;
    text-align: right;
    opacity: 0.5;
}




// Header
// ========================================


.page-article__date {
    display: block;
    margin-bottom: $space-075;

    @include font-display-regular;
    line-height: 1.2;
    font-size: $fontSize-150;
    color: $color-purple;
}


.page-article__title {
    margin: 0 0 $space-075;

    @include font-display-bold;
    font-size: 40px;
    line-height: 1;
}


.page-article__details {
    @include font-display-regular;
}

.page-article__credits {
    font-size: $fontSize-125;

    a {
        color: $color-purple;
        text-decoration: underline;
    }

    span {
        color: $color-grey-900;
    }
}


.page-article__update {
    margin-top: $space-025;

    color: $color-purple;
    font-size: $fontSize-100;
}
