// ==========================================================================
// Generic / Blockquote
// ==========================================================================

blockquote {
  padding: 0.5em 1em;
  margin: 0 0 1em;
  border-left: 5px solid $color-yellow-dark;
}
