@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto;
    color: #1a1a1a;
    background: linear-gradient(#fafafa, #d8ffff);
    background-attachment: fixed;
}

a {
    color: #1a1a1a;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    padding-top: 1em;
    margin-bottom: 1em;
}

h1:before {
    margin-right: 0.3em;
    content: '::';
}

h2 {
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

h3 {
    padding-left: 1.2em;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
}

h6 {
    font-size: 1.1em;
    font-weight: bold;
}

pre {
    font-family: monospace;
    margin: 2em 3em;
    padding: 1em;
    background: ivory;
    display: table;
    white-space: pre-wrap;
}

header {
    position: relative;
    padding: 1em;
    z-index: 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.ribbon {
    position: absolute;
    top: 0;
    left: 0;
}

.banner {
    /* SFC campaign banner */
    margin: 30px auto 0 auto;
    max-width: 940px;
}

.banner a::before, .banner a::after {
    content: '' !important;
}

.banner img {
    border-radius: 10px;
}

header .logo img {
    padding-top: 2em;
}

i#flying-bugs {
    position: absolute;
    background: url("flying-bugs.png") left center;
    height: 106px;
    width: 335px;
    right: 5em;
    top: 4em;
    animation: bugs 0.8s steps(6) infinite;
}

@keyframes bugs {
    100% { background-position: -2017px; }
}

.hamburger i {
    display: none;
    width: 35px;
    height: 5px;
    background-color: #4a4a4a;
    margin: 6px 0;
    border-radius: 3px;
}

.hamburger .dropdown {
    position: relative;
    display: inline-block;
}

.hamburger .dropdown-content {
    background-color: rgba(255,255,255,0.25);
    border-radius: 0 0 0 15px;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 1000;
}

/* Links inside the dropdown */
.hamburger .dropdown-content a {
    font-size: 0.8em;
    color: black;
    padding: 12px 16px;
    margin-left: 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.hamburger .dropdown-content a:hover {
    background-color: #ddd
}

.hamburger .dropdown-content a.header {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.hamburger .dropdown-content .show {
    display:block;
}

.donate {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.donate.mobile {
    display: none;
}

div#flowers {
    position: fixed;
    z-index: -1;
}

img.flower {
    position: absolute;
}

div#wrapper {
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    flex: 1 0 auto;
}

div#wrapper a {
    font-style: italic;
}

div#wrapper a:hover {
    font-weight: bold;
}

div#wrapper a::before {
    content: '[';
    font-style: normal;
    font-weight: normal;
}

div#wrapper a::after {
    content: ']';
    font-style: normal;
    font-weight: normal;
    margin-left: 0.2em;
}

span {
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
    padding-left: 1.6em;
}

small {
    font-size: 0.75em;
}

div.video {
    width: 100%;
    text-align: center;
}

iframe {
    border-radius: 10px;
    border: 1px solid grey;
}

div.pillar {
    padding-left: 1.6em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
}

div.pillar:nth-child(odd) {
    flex-direction: row-reverse;
}

video.pillars-left {
    flex-shrink: 0.3;
    max-width: 50%;
    border-radius: 10px;
}

div.pillars-right {
    padding-left: 1.5em;
}

div.pillar:nth-child(odd) div.pillars-right {
    padding-left: 0;
    padding-right: 1.5em;
}

div.pillars-right h2 {
    padding-left: 0;
}

ul.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
}

ul.flex.videos li {
    width: 300px;
}

ul.flex li {
    margin: 2em;
}

ul.flex img.logo {
    display: block;
    max-height: 70px;
    width: auto;
    height: auto;
}

ul.flex a::before, ul.flex a::after {
    content: none !important;
}

ul.list {
    padding-left: 2.8em;
    margin-bottom: 1em;
}

ul.list li {
    line-height: 1.8em;
}

footer {
    height: 30px;
    position: relative;
    margin-top: 2em;
    background: url(field.svg);
    background-size: cover;
    color: #fafafa;
    flex-shrink: 0;
}

footer .grass {
    position: absolute;
    right: 15px;
    bottom: 2px;
    z-index: -1;
}

footer i.bunny {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: url("bunny-animation.png") left center;
    width: 64px;
    height: 79px;
    animation: bunny 0.8s steps(9) infinite;
}

@keyframes bunny {
    100% { background-position: -576px; }
}

i.animation {
    float: left;
    display: inline-block;
    width: 71px;
    height: 88px;
    animation: animate 0.8s steps(9) infinite;
}

i.animation.john {
    background: url("john-animation.png") left center;
}

i.animation.jens {
    background: url("jens-animation.png") left center;
}

i.animation.bernat {
    background: url("bernat-animation.png") left center;
}

i.animation.jen {
    background: url("jen-animation.png") left center;
}

i.animation.jadga {
    background: url("jadga-animation.png") left center;
}

i.animation.kathy {
    background: url("kathy-animation.png") left center;
}

i.animation.tom {
    background: url("tom-animation.png") left center;
}

i.animation.amon {
    background: url("amon-animation.png") left center;
}

@keyframes animate {
    100% { background-position: -640px; }
}

footer small {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1px;
}

span.issue {
    background-color: indianred;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
    color: aliceblue;
    font-size: 0.8em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

div#wrapper a.download-button::after {
    content: '';
    margin: 0;
}

div#wrapper a.download-button::before {
    content: '';
}

div#wrapper a.download-button:hover {
    font-weight: normal;
}

div#wrapper a.download-button {
    padding: 1em;
    display: block;
    width: 50%;
    background: rgba(0, 255, 255, 0.2);
    border-radius: 10px;
    font-style: normal;
    margin-left: 1.5em;
}

a.download-button .pointing-bunny {
    height: 90px;
}

a.download-button .contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

a.download-button .text {
    font-size: 1.3em;
}

a.download-button p {
    margin: 0;
    padding: 0;
}

a.download-button .system {
    font-weight: bold;
    font-size: 1.6em;
}

.youtube {
    border-radius: 6px;
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.youtube img {
    padding-left: 0px !important;
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}

.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
    cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.event {
    margin-left: 1.2em;
    margin-bottom: 1em;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.5em;
    border-radius: 5px 0 5px 0;
}

.event h2 {
    padding: 0;
    padding-left: 0.2em;
    margin-top: 0.5em;
}

.event .organizer,
.event .date,
.event .url,
.event .location,
.event .description {
    margin-left: 0.2em;
    display: block;
}

.event .url {
    text-align: center;
    margin: .5em;
}

.event .description span {
    display: block;
    padding-left: 0.25em;
    font-style: italic;
}


/* BLOG */

ul.post-list {
    font-size: 1.25em;
}

ul.post-list li {
    margin-bottom: 1em;
}

/* Media query for small screens and tablets */
@media only screen and (max-width: 1340px) {
    #wrapper {
        margin: 0 !important;
    }
}

/* Media query for tiny screens and phones */
@media only screen and (max-width: 1180px) {
    body {
        color: #1a1a1a;
        background: #ecf9f9;
    }

    img.flower {
        width: 80px;
    }

    i#flying-bugs {
        position: relative;
        display: none;
    }

    .dropdown {
        z-index: 1000;
    }

    .hamburger {
        background: #ecf9f9;
        z-index: 1000;
        top: 5px;
        right: 5px;
        position: fixed;
    }

    .hamburger i {
        display: block;
        width: 80px;
        margin: 12px;
        height: 10px;
    }

    .hamburger .dropdown-content {
        border-radius: 0;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: none;
        position:fixed;
        top: 0;
        text-align: center;
        width: 100%;
        font-size: 3.5em;
    }

    .hamburger .dropdown-content a {
        display: none;
    }
    .hamburger .dropdown-content a.header {
        display: block;
        border-top: 1px solid #4a4a4a;
    }

    .donate.mobile {
        display: block;
    }

    .donate.desktop {
        display: none;
    }

    footer {
        height: 52px;
    }

    footer small {
        width: auto;
        left: 70px;
        text-align: left;
        font-size: 1em;
    }

    footer .grass {
        bottom: 25px;
    }
}
