@font-face {
    font-family: laksaman;
    src: url(Laksaman.ttf);
}

body {
    font-family: laksaman;
    color: #1a1a1a;
    background: linear-gradient(#fafafa, #d8ffff);
    background-attachment: fixed;
}

a {
    color: #1a1a1a;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    padding-top: 1em;
    margin-bottom: 1em;
}

h1:before {
    margin-right: 0.3em;
    content: '::';
}

h2 {
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h3 {
    padding-left: 1.2em;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
}

h6 {
    font-size: 1.1em;
    font-weight: bold;
}

pre {
    font-family: monospace;
    margin: 2em 3em;
    padding: 1em;
    background: ivory;
    display: table;
    white-space: pre-wrap;
}

header {
    position: relative;
    padding: 1em;
    z-index: 1;
    max-width: 1280px;
    margin: 0 auto;
}

.ribbon {
    position: absolute;
    top: 0;
    left: 0;
}

header .logo img {
    padding-top: 2em;
}

nav.menu {
    text-align: center;
    z-index: 2;
    padding: 0.1em 0.5em 0.5em;
    background: #fafafa;
}

nav.menu a:not(:last-child)::after{
    font-weight: normal;
    margin-left: 0.3em;
    content: '::';
}

nav.menu a:hover {
    font-weight: bold;
}

img#flying-bugs {
    position: absolute;
    right: 5em;
    top: 4em;
}

.hamburger {
    z-index: 1000;
    position: fixed;
    top: 5px;
    right: 5px;
}

.hamburger i {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #4a4a4a;
    margin: 6px 0;
    border-radius: 3px;
}

/* The container <div> - needed to position the dropdown content */
.hamburger .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.hamburger .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.hamburger .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.hamburger .dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.hamburger .dropdown-content .show {
    display:block;
}

div#flowers {
    position: fixed;
    z-index: -1;
}

img.flower {
    position: absolute;
}

div#wrapper {
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
}

div#wrapper a {
    font-style: italic;
}

div#wrapper a:hover {
    font-weight: bold;
}

div#wrapper a::before {
    content: '[';
    font-style: normal;
    font-weight: normal;
}

div#wrapper a::after {
    content: ']';
    font-style: normal;
    font-weight: normal;
    margin-left: 0.2em;
}

span {
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
    padding-left: 1.6em;
}

small {
    font-size: 0.75em;
}

ul.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
}

ul.flex.videos li {
    width: 300px;
}

ul.flex li {
    margin: 2em;
}

ul.flex img.logo {
    display: block;
    max-height: 70px;
    width: auto;
    height: auto;
}

ul.flex a::before, ul.flex a::after {
    content: none !important;
}

ul.list {
    padding-left: 2.8em;
    margin-bottom: 1em;
}

ul.list li {
    line-height: 1.8em;
}

footer {
    height: 30px;
    position: relative;
    margin-top: 2em;
    background: url(field.svg);
    background-size: cover;
    color: #fafafa;
}

footer .grass {
    position: absolute;
    right: 15px;
    bottom: 2px;
    z-index: -1;
}

footer i.bunny {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: url("bunny-animation.png") left center;
    width: 64px;
    height: 79px;
    animation: bunny 0.8s steps(9) infinite;
}

@keyframes bunny {
    100% { background-position: -576px; }
}

footer small {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5px;
}

span.issue {
    background-color: indianred;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
    color: aliceblue;
    font-size: 0.8em;
}

em {
    font-style: italic;
}

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.youtube img {
    padding-left: 0px !important;
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}

.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
    cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 1024px) {
    body {
        font-family: laksaman;
        color: #1a1a1a;
        background: #ecf9f9;
    }

    img.flower {
        width: 80px;
    }

    img#flying-bugs {
        display: none;
    }

    .dropdown {
        z-index: 1000;
    }

    .hamburger {
        z-index: 1000;
        right: 5px;
        position: fixed;
    }

    .hamburger i {
        background: #ecf9f9;
        width: 80px;
        margin: 12px;
        height: 10px;
    }

    .hamburger .dropdown-content {
        position:fixed;
        top: 0;
        text-align: center;
        width: 100%;
        font-size: 5em;
    }

    .hamburger .dropdown-content a {
        border-top: 1px solid #4a4a4a;
    }

    footer {
        height: 52px;
    }

    footer small {
        width: auto;
        left: 70px;
        text-align: left;
        font-size: 1em;
    }

    footer .grass {
        bottom: 25px;
    }
}
